Body {
    background-color: #bb5353;
}
.avatar{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.malsawmdawngzuali1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.malsawmdawngzuali2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
.malsawmdawngzuali4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali6{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.samkir{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali9{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali12{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali13{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali14{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.malsawmdawngzuali15{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}